bin/
obj/
/._.DS_Store
/._AuthKey_9U963X2NQG.p8
/AuthKey_9U963X2NQG.p8
/._Avantxa
/_Avantxa.iOS
/_google-services.json
/google-services.json
/._GoogleService-Info.plis
/GoogleService-Info.plis
/._GoogleService-Info
/UpgradeLog.htm

RespaldoImagenes/

/WebApi/._.DS_Store
/WebApi/._RSA.cs
/WebApi/Avantxa.Avantxa-Signed.apk
/WebApi/Constants.cs
/WebApi/RSA.cs